@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen:wght@300;400;700&family=Space+Grotesk:wght@300..700&family=Syne+Mono&display=swap');

.container {
    max-width: 1440px;
    padding: 30px 100px;
    margin: auto;
    justify-content: center;
    align-items: center;

}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
}

.logo {
    display: flex;
    width: 220px;
    height: 36px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 30px;
    height: 30px;
}

.logo h2 {
    margin: 0;
    font-size: 28px;
    width: 170px;
    height: 30px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 15px;
    justify-content: center;
}

.quote {
    padding: 15px 25px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    font-size: 15px;
    display: flex;
    gap: 10px;
}


.font {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 40px;
    align-items: flex-start;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 50%;
}

.right {
    max-width: 50%;

}

.right1 {
    display: none;
}

h1 {
    font-size: 55px;
    margin: 0;
    line-height: normal;
}

p {
    font-size: 20px;
    line-height: normal;
}

.book {
    background: #191A23;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
    display: flex;
    padding: 20px 35px;
    align-items: flex-start;
    gap: 10px;
}



@media screen and (max-width: 1000px) {
    .container {
        padding: 30px 40px;
    }

    .top {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .logo {
        margin: auto;
    }

    @media screen and (max-width: 700px) {
        .container {
            padding: 25px 20px;
        }

        .top {
            flex-direction: row;
            justify-content: space-between;
        }

        .logo {
            width: auto;
            justify-content: flex-start;
            margin: 0;
        }

        .menu {
            display: none;
        }

        .hamburger {
            display: block;
        }

        .hamburger img {
            width: 35px;
        }
    }