@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

:root {
    --background-color: #000000;
    --title: #ffffff;
    --title-span: #917852;
    --body-text: #afafaf;
    --button-color: #2b2b2b;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 30px 30px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header nav a {
    display: flex;
    flex-direction: row;
    color: var(--title-span);
    text-decoration: none;
    font-family: "Roboto Slab", serif;
    font-size: 15px;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

header nav a:hover {
    color: var(--title);
    transition: 0.3s;
}

.hero-section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -1200px;
    height: 337px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    margin: 30px 30px;
    border-color: var(--title-span);
    padding: 30px 30px;

}

.hero-section-title h1 {
    font-family: "Roboto Slab", serif;
    font-size: 48px;
    line-height: 67.2px;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    color: var(--title);
    text-transform: uppercase;
    align-self: center;
}

.hero-section-title span {
    font-family: "Roboto Slab", serif;
    font-size: 48px;
    line-height: 67.2px;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    color: var(--title-span);
    text-transform: uppercase;
    align-self: center;
}