@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

.leaves-bg {
    position: relative;
    width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaves-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.beer {
    position: relative;
    z-index: 2;
    margin-top: -630px;
}

.beer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.field {
    position: relative;
    width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
}

.field img {
    width: 100%;
    object-fit: cover;
}

.logo {
    position: relative;
    width: 175px;
    height: 174px;
    display: flex;
    flex-direction: column;
    align-content: center;
    left: 44%;
    bottom: 1100px;
}

.hero-section-title {
    width: 100%;
    max-width: 700px;
    align-items: center;
    position: relative;
    display: flex;
    bottom: 1080px;
    left: 25%;
}


.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hr {
    position: relative;
    left: 10%;
    width: 200px;
    margin: 30px;
    border-color: #917852;
}

.hero-subtext {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    bottom: 1100px;
}

.hero-subtext p {
    position: relative;
    width: 510px;
    left: 450px;
    align-items: center;
}

.craft-beer {
    display: flex;
    flex-direction: column;
    width: 709px;
    position: relative;
    z-index: 2;
    justify-content: center;
    left: 29%;
    bottom: 1000px;
}

.craft-beer img {
    width: 85%;
    object-fit: cover;
}

.wheat {
    position: relative;
    width: 1440px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20px;
}

.wheat img {
    min-height: 50%;
    object-fit: cover;
}