@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

.leaves img {
    display: flex;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.beer img {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    position: relative;
}

.field {
    height: 200px;
}

.field img {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    position: relative;
}

.logo {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: relative;
    align-self: center;
    padding: 30px 30px;
    top: -1200px;
}

.logo img {
    width: 175px;
    align-self: center;
}

.hero-section-title {
    display: block;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 30px 30px;
}

.hero-hr hr {
    display: flex;
    position: relative;
    align-content: center;
    width: 200px;
    border-color: var(--title-span);
}

.hero-subtext {
    display: flex;
    width: 557px;
    align-self: center;
}

.craft-beer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: relative;
    align-self: center;
    bottom: -50px;
}

.craft-beer img {
    width: 100%;
}

.testimonial {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: -1500px;
}

.testimonial img {
    position: relative;
    max-width: 100%;
}

.testimonial-title {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: absolute;
}

.testimonial-title h2 {
    font-family: "Roboto Slab", serif;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 3px;
    font-weight: 300;
    color: var(--title);
    margin: 100px;
}

.testimonial-hr hr {
    display: flex;
    position: relative;
    align-self: center;
    width: 80px;
    border-color: var(--title-span);
}

.mustache-man {
    display: flex;
    position: relative;
    align-self: center;
}

.mustache-man img {
    width: 100%;
    max-width: 150px;
    border: none;
    border-radius: 300px;
}