.leaves img {
    display: flex;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.beer img {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    position: relative;
}

.field {
    height: 200px;
}

.field img {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    position: relative;
}

.logo {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: relative;
    align-self: center;
    padding: 30px 30px;
    top: -1200px;
}

.logo img {
    width: 175px;
    align-self: center;
}

.hero-section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 30px 30px;
    border-color: var(--title-span);
}

hr {
    width: 200px;
    border-color: var(--title-span);
}

.hero-subtext {
    width: 557px;
    height: 102px;
    align-self: center;
}